body{
  background-color: #EAF6F6;


  font-size: 100%;
  font-family:  "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1{
  color: #66BFBF;
  font-size: 250%;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}

h3{
  color: #66BFBF;
  font-size: 150%;
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
}
table{
  padding: 1em;
}
